<md-toolbar md-dialog-title color="primary">
  Login
  <span class="flex-spacer"></span>
  <button md-button md-dialog-close>&times;</button>
</md-toolbar>


<p>{{ user | json }}</p>
<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <p>
    <md-input-container>
      <input mdInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required>
      <md-error *ngIf="username.errors?.required">Username is required</md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
      <md-error *ngIf="password.errors?.required">Password is required</md-error>
   </md-input-container>
   <md-checkbox [(ngModel)]="user.remember" name="remember">
     Remember Me
   </md-checkbox>  
  </p>
  <md-dialog-content>
    <span class="flex-spacer"></span>
    <button md-button md-dialog-close>Cancel</button>
    <button type="submit" md-button class="background-primary text-floral-white" [disabled]="loginForm.form.invalid">Login</button>
  </md-dialog-content>
</form>